.calculator {
     display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    width: 300px;
    background-color: #4ca1ed;
    border-radius: 20px;
    align-items: center;
  }
  
  .display {
    grid-column: 1 / -1;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: right;
    font-size: 1.5em;
  }
  
  .btn {
    background-color: #220985;
    border: none;
    padding: 10px;
    font-size: 1.2em;
       cursor: pointer;
  }
  .text{
    color: white;
  }
  
  .btn:hover {
    background-color: #264a7d;
  }
  .calculator {
    margin: 0 auto;
  }
  
  